<div class="vessel-container">
  <table cTable hover class="vessel-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">MMSI</th>
        <th scope="col">IMO</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vessel of filteredVessels; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ vessel.mmsi }}</td>
        <td>{{ vessel.imo }}</td>
        <td>{{ vessel.name }}</td>
        <td>{{ vessel.typeDescription }}</td>
      </tr>
    </tbody>
  </table>
</div>
