/* search-box.component.css */
.search-box {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Ensure it is above the map */
    font-family: 'Roboto', sans-serif;
    /* Apply Roboto font */
}

.search-box input {
    border: none;
    outline: none;
    color: #29333C;
    padding: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    /* Apply Roboto font */
}

.search-box button {
    background: #29333C;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    /* Apply Roboto font */
}

.search-box button:hover {
    background: #0056b3;
}