<c-sidebar visible #sidebar1="cSidebar" class="border-end sidebar sidebar-dark">
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand
      [brandFull]="{src:'../../assets/ais-sidebar.png', width: 90, height: 32, alt:'AIS PPNS'}" 
      [brandNarrow]="{src:'../../assets/ais-tab.png', width: 40, height: 40, alt:'AIS-PPNS'}"
      [routerLink]="['/']">
    </c-sidebar-brand>
  </c-sidebar-header>
  <c-sidebar-nav>
    <ng-container *ngFor="let item of navItems">
      <li class="nav-item">
        <a [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
          <c-icon [name]="item.iconComponent.name" class="nav-icon"></c-icon>
          <span class="nav-text">{{ item.name }}</span>
        </a>
      </li>
    </ng-container>
  </c-sidebar-nav>
</c-sidebar>


